In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
import statistics

In [12]:
titanic_df = pd.read_csv("titanic.csv")
titanic_df.head(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [28]:
#WarmUp
Embarked = titanic_df['Embarked']

#tds = Embarked == 'S'
#TFDF = titanic_df[tds]

titanic_df['Name'][titanic_df['Embarked'] == 'S'].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object

Scales of Measurement:
Nominal- Categories that dont have a natural order. (Race, Blood type)
Ordinal- Categories where order matters but the difference between them is neither clear nor even. (Satisfaction scores, Happiness Lvl.)
Interval- There's order and difference between two values is meaningful. (Celsius/Farhenheit, pH).
Ratio- The same as interval except theres a concept of 0 w/o negative numbers. (Kelvin, Weight, Concentration)

Statistics in Python:
Central Tendancy- Represents the center point/typical value of a dataset.
As a result, the rule of thumb is to replace null value with the mean when the data is normally distrubuted and repleace null values with the meadian when the data is skewed.

Correlation Coefficient:
Positive: as x goes up, y goes up.
Negative: as x goes up, y goes down. OR as x goes down, y goes up.
No Correlation: x and y stay the same.

In [33]:
#Preprocessing
df_clothes = pd.DataFrame(data = [['blue', 'S', 20, 'lemon shirt'],
                          ['blue', 'M', 50, 'jeans'],
                          ['beige', 'M', 7, 'bucket hat']])

df_clothes.columns = ['color', 'size', 'price', 'type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [45]:
#convert categories to numerical values
#size is ordinal(means something), so it can be easily encoded. 

size_map = {'S':1, 'M':2, 'L':3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

   size  price  color_beige  color_blue
0   NaN     20        False        True
1   NaN     50        False        True
2   NaN      7         True       False

In [35]:
%pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\steven\appdata\local\programs\python\python39\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\steven\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (2.0.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\steven\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\steven\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\steven\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [44]:
#good for nominal values. Where we want a number for faster processing but the number doesnt mean anything. 
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['color'].values)
df_clothes

KeyError: 'color'

In [42]:
#one hot encoding - easiest way
# this doesnt work if data is already numerical.

#df_clothes = pd.get_dummies(df_clothes[['color', 'size', 'price']])
#df_clothes