In [9]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

In [11]:
#Q1: Car = str, MPG = int, Horsepower = int, Origin = str. 
print(df, "Origin")

NameError: name 'Origin' is not defined

In [ ]:
#Q2: 
We use np because its easier to call when used in code, same as pandas as pd.

In [65]:
#Q3: 406 rows x 1 columnns for each variable. 
print(df[["Car"]])

                           Car
0    Chevrolet Chevelle Malibu
1            Buick Skylark 320
2           Plymouth Satellite
3                AMC Rebel SST
4                  Ford Torino
..                         ...
401            Ford Mustang GL
402          Volkswagen Pickup
403              Dodge Rampage
404                Ford Ranger
405                 Chevy S-10

[406 rows x 1 columns]

In [154]:
#Q4a:
import math
import statistics
from scipy import stats

df[["Horsepower"]].sum()

Horsepower    42033.0
dtype: float64

In [57]:
#Q4b:
df[["Horsepower"]].min()

Horsepower    0.0
dtype: float64

In [58]:
#Q4c:
df[["Horsepower"]].max()

Horsepower    230.0
dtype: float64

In [61]:
#Q4d:
df[["Horsepower"]].median()

Horsepower    93.5
dtype: float64

In [6]:
#Q4e:
df[["Horsepower"]].mode()

NameError: name 'df' is not defined

In [68]:
#Q5: 
select_more = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
last_elements = select_more[:, -1]

print(last_elements)

[3 6 9]

In [153]:
#Q6: 
np.log(df[['MPG']])

c:\users\steven\appdata\local\programs\python\python39\lib\site-packages\pandas\core\internals\blocks.py:393: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

          MPG
0    2.890372
1    2.708050
2    2.890372
3    2.772589
4    2.833213
..        ...
401  3.295837
402  3.784190
403  3.465736
404  3.332205
405  3.433987

[406 rows x 1 columns]

In [5]:
#Q7:
Origin = df['Origin']

ba = Origin == 'US'

print(ba)

NameError: name 'df' is not defined

In [3]:
#Q8:
df['Car']

NameError: name 'df' is not defined

In [4]:
#Q9a:
Origin = df['Origin']

ba = Origin == 'Europe'

print(ba)

NameError: name 'df' is not defined

In [87]:
#Q9b:
df[["Horsepower"]].mean()

Horsepower    103.529557
dtype: float64

In [141]:
#Q10: US on average has more. 
Origin = df['Origin']

ba = Origin == 'Japan'

print(ba)

fd = ba[ba == True]

mv = np.mean(ba)
print(f"Mean: {mv}")

0      False
1      False
2      False
3      False
4      False
       ...
401    False
402    False
403    False
404    False
405    False
Name: Origin, Length: 406, dtype: bool
Mean: 0.19458128078817735

In [139]:
#Q10b: US on average has more. 
Origin = df['Origin']

ba = Origin == 'US'

print(ba)

fd = ba[ba == True]

mv = np.mean(ba)
print(f"Mean: {mv}")

0       True
1       True
2       True
3       True
4       True
       ...
401     True
402    False
403     True
404     True
405     True
Name: Origin, Length: 406, dtype: bool
Mean: 0.625615763546798

In [143]:
#Q11: The correlation coeffificient shows the relation between values in forms of +1 and -1.
# This shows that as MPG goes up, weight goes down and vice versa. 
np.corrcoef(df["MPG"], df["Weight"])

array([[ 1.        , -0.78750994],
       [-0.78750994,  1.        ]])