In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
import statistics

In [2]:
#1) Write a lambda function to rearrange positive and negative numbers in a given list

ol = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]

sort_ol = sorted(ol , key = lambda x: -1/x )
print(ol)
print(sort_ol)

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10, -11, 12]
[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [3]:
#2) Clean the JEOPARDY_DATA.csv so that `round` uses one-hot encoding instead of categorical values AND the `value` column shows a decimal 
# type when you do a type check

jp = pd.read_csv('JEOPARDY_DATA.csv')
jp.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [4]:
jp = pd.get_dummies(jp, columns = [' Round'])
jp.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False

In [11]:
jp[' Value'] = jp[' Value'].str.extract('(\d+)')
jp[' Value'] = jp[' Value'].astype(float)

AttributeError: Can only use .str accessor with string values!

In [9]:
jp.dtypes

Show Number                  int64
 Air Date                   object
 Category                   object
 Value                     float64
 Question                   object
 Answer                     object
 Round_Double Jeopardy!       bool
 Round_Final Jeopardy!        bool
 Round_Jeopardy!              bool
 Round_Tiebreaker             bool
dtype: object

In [10]:
jp.head()

,Show Number,Air Date,Category,Value,Question,Answer,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,4680,12/31/2004,HISTORY,2.0,"For the last 8 years of his life, Galileo was ...",Copernicus,False,False,True,False
1,4680,12/31/2004,ESPN's TOP 10 ALL-TIME ATHLETES,2.0,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,False,False,True,False
2,4680,12/31/2004,EVERYBODY TALKS ABOUT IT...,2.0,The city of Yuma in this state has a record av...,Arizona,False,False,True,False
3,4680,12/31/2004,THE COMPANY LINE,2.0,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,False,False,True,False
4,4680,12/31/2004,EPITAPHS & TRIBUTES,2.0,"Signer of the Dec. of Indep., framer of the Co...",John Adams,False,False,True,False