In [1]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay, classification_report
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_curve, roc_auc_score
from sklearn.metrics import precision_recall_curve, f1_score, auc

In [13]:
df = pd.read_csv("apartments_for_rent_classified_10K.csv", on_bad_lines='skip', encoding ='cp1252', delimiter=';')

In [14]:
df = df.drop('id', axis=1)
df = df.drop('category', axis=1)
df = df.drop('title', axis=1)
df = df.drop('body', axis=1)
df = df.drop('amenities', axis=1)
df = df.drop('fee', axis=1)
df = df.drop('has_photo', axis=1)
df = df.drop('time', axis=1)
df = df.drop('source', axis=1)
df = df.drop('latitude', axis=1)
df = df.drop('longitude', axis=1)
df = df.drop('cityname', axis=1)
df = df.drop('address', axis=1)
df = df.drop('price_type', axis=1)
df = df.drop('price_display', axis=1)
df = df.drop('currency', axis=1)

In [4]:
df.head()

   bathrooms  bedrooms pets_allowed  price  square_feet state
0        NaN       0.0          NaN    790          101    DC
1        NaN       1.0          NaN    425          106    IN
2        1.0       0.0          NaN   1390          107    VA
3        1.0       0.0          NaN    925          116    WA
4        NaN       0.0          NaN    880          125    VA

In [6]:
dfp = df

In [7]:
dfp.to_csv('dfp.csv', index=False)

In [15]:
df['pets_allowed'] = df["pets_allowed"].replace(np.nan, 'No Pets Allowed')

In [16]:
df['pets_allowed'] = np.where(df["pets_allowed"] == "No Pets Allowed", "No", "Yes")

In [17]:
df['bathrooms'] = df['bathrooms'].fillna(1)
df['bedrooms'] = df['bedrooms'].fillna(1)

In [11]:
bol = {'Yes':1,'No':0}
df['pets_allowed'] = df['pets_allowed'].map(bol)

In [18]:
df.head()

   bathrooms  bedrooms pets_allowed  price  square_feet state
0        1.0       0.0           No    790          101    DC
1        1.0       1.0           No    425          106    IN
2        1.0       0.0           No   1390          107    VA
3        1.0       0.0           No    925          116    WA
4        1.0       0.0           No    880          125    VA

In [19]:
df.to_csv('df.csv', index=False)