In [ ]:
#Q1: After typing the specific function/object, use the tab button on the keyboard.

In [ ]:
#Q2: You can find the data type of an object ion python using the "type()" function. One data type is "int", which can contain whole numbers such as
#1, 20, etc. but not numbers with decimals like 1.23.

In [8]:
#Q3: Assignment means to give a variable a specific value. 
x = "yellow"
print(x)

yellow

In [7]:
#Q4: The best way to keep many items together is with a "list". 
list = ["Record", "Keyboard", "Guitar"]
print(list)

['Record', 'Keyboard', 'Guitar']

In [6]:
#Q5: For an assortment of names/telephone numbers, I'd use a tuple. 
tuple = ("Louis", "1112223333", "Francis", "4445556666")
print(tuple)

('Louis', '1112223333', 'Francis', '4445556666')

In [ ]:
#Q6: While the code will work, since list2 will become a direct copy of list1, any changes made to list1 will be made to list2.

In [ ]:
#Q7: Truthy/Falsy are used for boolean values. Variables that are truthy will be true and values that are falsy will be false.

In [ ]:
#Q8: The difference between a dynamically and statistically typed langauges is that dynamic ones check the code at running time while statistical ones 
#check at compile time. Dynamic checks allow the code to run (but not complete) even if its incorrect, while statistic ones will fail. Python is a 
#dynamic language.

In [ ]:
#Q9: eval() allows evaluations between variables and numbers. Ex. eval(x+5). len() returns the length of a list. Ex. print(len(list))

In [5]:
#Q10: The operator that will help is the modulus operator (%). 
num = 4
if (num % 2) == 0:
    print("This is Even")
else:
    print("This is Odd")

This is Even

In [ ]:
#Q11: An expression in python is a combination of two or more values with different operators. Examples include addition and subtraction.

In [3]:
#Q12: 
foo = 77
bar = 38
if foo > bar: 
    print("foo is greater than bar")

foo is greater than bar

In [58]:
#Q13:
my_list = [1,2,3,4,5,6,7,8,9]
for i in my_list:
    if (i % 2) == 0:
        print("This is even")
    elif (i % 2) == 1:
        print("This is odd")
    if (i == 3):
        print("Found it!")

This is odd
This is even
This is odd
Found it!
This is even
This is odd
This is even
This is odd
This is even
This is odd

In [13]:
#Q14: The greater than equal to operator is >=.
x = 67
y = 21
if x >= y:
    print("x is greater than y")

z = 22
b = 22
if z >= b:
    print("z is greater than or equal to b")

x is greater than y
z is greater than or equal to b

In [15]:
#Q15:The floored division operator is //, it will return the product of a division equation without remainder. 
x = 15
y = 2 
print(x // y)

7

In [29]:
#Q16: There cannot be a 2 in front of the "cars" variable, the code thinks its an integer. However, if you place it at the end it will work. 
#2cars = ('Ferarri', 'Mustang')
cars2 = ('Ferarri', 'Mustang')

In [54]:
#Q17: I've been tweaking and eperienting the code and it works no matter what. So maybe since the if statement isn't checking for anything it computes
#correctly.
some_list = ['fizz','buzz',1,'key','value']

if some_list:
    print('Hooray!')

Hooray!

In [30]:
#Q18: 
x = 2
y = 8
print(x ** y)

256

In [32]:
#Q19: You can use the str() function. 
my_var = 65
str(my_var)

'65'

In [35]:
#Q20: 
some_string = "I have got a date at a quarter to eight; I'll see you at the gate, so don't be late"
print(some_string[23:39])

quarter to eight

In [48]:
#Q21:
my_favorite_teams = ['Chiefs', 'Cardinals', 'Blues', 'Billikens','Battlehawks', 'No sports ball for me']
sport = my_favorite_teams[2]
print(sport)

Blues

In [ ]:
#Q22: The dir() function returns all the properties of the object without its values.

In [42]:
#Q23: 
x = 65
y = 3
print(x ** y)

274625