In [2]:
import numpy as np
import pandas as pd

import math
import statistics
from scipy import stats

In [ ]:
# Mean, Median, and Mode/ Central Tendency. 
# Mean = Average, Sum of all variables divided by amount. (3+2+3)/3
# Median = Middle Number when values are in order. If odd, 1 number. If even, take middle 2 numbers and divide.
# Mode = The number that appears most often. (1,1,2,1). Mode = 1
# Central Tendency = Single value that explains the whole data set, or the middle/central of its distribution.

In [8]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [11]:
belize_df[["price", "minimum_nights", "number_of_reviews"]].mean()

price                357.102289
minimum_nights         2.263948
number_of_reviews     14.453505
dtype: float64

In [12]:
belize_df[["price", "minimum_nights", "number_of_reviews"]].median()

price                220.0
minimum_nights         2.0
number_of_reviews      2.0
dtype: float64

In [13]:
belize_df[["price", "minimum_nights", "number_of_reviews"]].mode()

   price  minimum_nights  number_of_reviews
0    151             1.0                0.0
1    252             NaN                NaN

In [19]:
statistics.pvariance(belize_df["price"])

316996.15262709244

In [20]:
# sample var. = 1 degrees of freedom
statistics.variance(belize_df['price'])

317109.568066315

In [ ]:
#Standard Deviation is the square root of variance. Tells you how far, on average a value lies from the mean.

In [21]:
statistics.pstdev(belize_df['price'])

563.0241137172478

In [22]:
statistics.stdev(belize_df['price'])

563.1248245871558

In [ ]:
#covariation tells us how much/to what extent 2 random variables change together. 
# how much will one variable change as another one changes. 
# Positive= Same Direction, Negative, Different Direction.

corre = covar.(x,y)/(stan.dev of x)(stan.dev of y)

In [23]:
np.cov(belize_df["number_of_reviews"], belize_df["price"])

array([[   919.77350828,  -2055.7279794 ],
       [ -2055.7279794 , 317109.56806632]])

In [24]:
np.corrcoef(belize_df["number_of_reviews"], belize_df["price"])

array([[ 1.        , -0.12037063],
       [-0.12037063,  1.        ]])